<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear />
    <add key="WaveEngine Nightly" value="https://www.myget.org/F/waveengine-nightly/api/v3/index.json" />
    <add key="NuGet feed" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="TeamCity Agent" value="true" />
    <add key="Microsoft and .NET" value="true" />
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
</configuration>