<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SharpDX" version="3.0.0" targetFramework="net45" />
  <package id="SharpDX.Direct2D1" version="3.0.0" targetFramework="net45" />
  <package id="SharpDX.Direct3D11" version="3.0.0" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="3.0.0" targetFramework="net45" />
  <package id="SharpDX.Mathematics" version="3.0.0" targetFramework="net45" />
  <package id="SharpDX.MediaFoundation" version="3.0.0" targetFramework="net45" />
  <package id="SharpDX.XAudio2" version="3.0.0" targetFramework="net45" />
  <package id="WaveEngine" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Adapter" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Box2D" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Common" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Components" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Framework" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.ImageEffects" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.Materials" version="2.4.0.34" targetFramework="net45" />
  <package id="WaveEngine.WindowsTools" version="2.5.1-alpha-20171128-53" targetFramework="net45" />
</packages>