<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="WaveEngine.Adapter" version="1.9.11.23" targetFramework="wpa" />
  <package id="WaveEngine.Common" version="1.9.11.23" targetFramework="wpa" />
  <package id="WaveEngine.Components" version="1.9.11.23" targetFramework="wpa" />
  <package id="WaveEngine.Framework" version="1.9.11.23" targetFramework="wpa" />
  <package id="WaveEngine.Materials" version="1.9.11.23" targetFramework="wpa" />
  <package id="WaveEngine.ImageEffects" version="1.9.11.23" targetFramework="wpa" />
  <package id="WaveEngine" version="1.9.11.23" targetFramework="wpa" />
</packages>