<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="2a7ce69c-d782-493a-aec9-3796a17534ec" Publisher="CN=davila" Version="1.0.0.0" />
  <Properties>
    <DisplayName>BasketKing</DisplayName>
    <PublisherDisplayName>MyPublisher</PublisherDisplayName>
    <Logo>Images\StoreLogo.png</Logo>
    <Description>BasketKing Launcher</Description>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Launcher.App">
      <m2:VisualElements DisplayName="BasketKing" Description="Project Template game app" BackgroundColor="#ebebeb" ForegroundText="dark" Square150x150Logo="Images\Logo.png" Square30x30Logo="Images\SmallLogo.png">
        <m2:DefaultTile>
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen BackgroundColor="#ebebeb" Image="Images\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <!--<Capability Name="internetClient" />-->
  </Capabilities>
</Package>